.burger_constructor_section {
    min-width: 600px;
}

.constructor_ul {
    height: calc(100vh - 650px);
    overflow-y: scroll;
    list-style: none;
    padding: 0;
}

.constructor_ul::-webkit-scrollbar {
    width: 12px;
}

.constructor_ul::-webkit-scrollbar-track {
    background: #2f2f37;
}

.constructor_ul::-webkit-scrollbar-thumb {
    background: #8585ad;
    border: 3px solid #2f2f37;
    border-radius: 6px;
}

.constructor_li {
    display: flex;
    align-items: center;
}
.constructor_price {
    display: flex;
    align-items: center;
    justify-content: end;
}
.order__button{
padding: 0;
}

.order__link {
    display: flex;
    text-decoration: none;
    color: white;
    height: 100%;
    margin: 20px 40px;
}