.profile {
  display: flex;
}

.link_active {
  text-decoration: none;
  color: white;
}

.link_inactive {
  text-decoration: none;
}

.profile_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.exit_button {
  cursor: pointer;
}