.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.header_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-decoration: none;
}
.header_menu {
    display: flex;
}